@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Edit @Html.DisplayFor(model => model.Name)'s Details</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  @Html.HiddenFor(model => model.Date)
  
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Specialty)
  @Html.EditorFor(model => model.Specialty)
  @Html.LabelFor(model => model.Pronouns)
  @Html.EditorFor(model => model.Pronouns)
  
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Stylists", "Index")</p>